{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Boligprismodell</h6>
                    </div>
                    <div class="col-lg-6 col-5 text-right"></div>
                </div>
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Forrige kvartal</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            {{ '{:,.0f}'.format(data["data"][-2]["value"]).replace(",", " ") }}
                                            kr / m<sup>2</sup>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Nåværende</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                        {{ '{:,.0f}'.format(data["data"][-1]["value"]).replace(",", " ") }}
                                        kr / m<sup>2</sup>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Prognose neste kvartal</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                        {{ '{:,.0f}'.format(data["model"]["forecast_mean"][1]["value"]).replace(",", " ") }}
                                        kr / m<sup>2</sup>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Prognose neste år</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                        {{ '{:,.0f}'.format(data["model"]["forecast_mean"][4]["value"]).replace(",", " ") }}
                                        kr / m<sup>2</sup>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="h3 mb-0">Boligpriser</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Chart -->
                        <canvas id="lineChart" height="100"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="h3 mb-0">Om modellen</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Text -->
                        Prognosen er basert på en autoregresjonsmodell som tar utgangspunkt i historiske boligpriser.
                        Modellen er trent på gjennomsnittlig kvadratmeterpris på selveierboliger per kvartal fra 2009
                        frem til i dag. Dataene er hentet fra SSB tabell 07240. Modellen er trent på data fra hele
                        landet, og tar derfor ikke hensyn til regionale forskjeller. Makroøkonomiske faktorer er ikke
                        inkludert i modellen og prisene er ikke justert for inflasjon.
                        <br><br>
                        Kildekoden til modellen er tilgjengelig på <a href="https://github.com/jonriege/house-price-model">Github</a>.
                    </div>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>
        const data = {
            datasets: [
                {
                    label: 'Historisk boligpris',
                    borderColor: 'rgb(75, 192, 192)',
                    backgroundColor: 'rgb(75, 192, 192, 0)',
                    pointRadius: 1.5,
                    pointHoverRadius: 4,
                    borderWidth: 3,
                    data: [
                        {% for item in data["data"] %}
                            { x: '{{ item["date"] }}', y: {{ item["value"] }} },
                        {% endfor %}
                    ],
                },
                {
                    label: 'Prognose',
                    borderColor: 'rgb(75, 192, 192)',
                    backgroundColor: 'rgb(75, 192, 192, 0)',
                    pointRadius: 1.5,
                    pointHoverRadius: 4,
                    borderWidth: 3,
                    borderDash: [5, 5],
                    data: [
                        {% for item in data["model"]["forecast_mean"] %}
                            { x: '{{ item["date"] }}', y: {{ item["value"] }} },
                        {% endfor %}
                    ],
                },
                {
                    label: 'Prognose (95% konfidensintervall)',
                    pointRadius: 0,
                    pointHoverRadius: 0,
                    borderWidth: 0,
                    data: [
                        {% for item in data["model"]["forecast_ci"]["upper"] %}
                            { x: '{{ item["date"] }}', y: {{ item["value"] }} },
                        {% endfor %}
                    ],
                    fill: '+1'
                },
                {
                    label: '',
                    pointRadius: 0,
                    pointHoverRadius: 0,
                    borderWidth: 0,
                    backgroundColor: "rgb(75, 192, 192, 0)",
                    data: [
                        {% for item in data["model"]["forecast_ci"]["lower"] %}
                            { x: '{{ item["date"] }}', y: {{ item["value"] }} },
                        {% endfor %}
                    ],

                }
            ]
        };
        const ctx = document.getElementById('lineChart');
        new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                plugins: {
                    legend: {
                        position: 'bottom'
                    },
                },
                scales: {
                    x: {
                        type: 'time'
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Pris per m\u00B2',
                        },
                    }
                }
            }
        });
    </script>

{% endblock javascripts %}
